/* --- ExtraLight (200) --- */
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* --- Light (300) --- */
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* --- Regular (400) --- */
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* --- Medium (500) --- */
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* --- SemiBold (600) --- */
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* --- Bold (700) --- */
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("../assets/fonts/CascadiaMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
