* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  min-height: 100vh;
  font-family: "Cascadia Mono", monospace;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
